.footer {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
  }
  
  .footer-content {
    font-size: 0.9rem;
    color: #555;
  }