/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
  background-color: #d0bde3;
}

/* Push footer to the bottom */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Optional: center content vertically */
  align-items: center;
  padding: 2rem;
}

.welcome{
  text-rendering: geometricPrecision;
  font-size: 2rem;
  font-style: italic;
}

.titledec{
  font-weight: bold;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ballstop {
  display: inline-block;
  animation: rotate 2s linear infinite;
}

.datadiscussion{
  width : 80%;
  margin-top: 20px;
}

